@tailwind base;

@layer base {
  html {
    font-family: Raleway, system-ui, sans-serif;
  }
  h1 {
    @apply text-3xl mb-2 text-sky-900 font-bold;
  }
  h2 {
    @apply text-2xl mb-2 text-sky-900;
  }
  hr {
    @apply border-sky-900/20 mb-2;
  }
}
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
